body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary-white);
  background-color: var(--primary-background);
}

main {
  overflow-x: hidden;
}
