<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container menu-wrapper">
    <div class="menu-top-container">
      <load src="/partials/components/logo.html" />
      <button type="button" class="close-menu-btn js-close-menu">
        <svg class="close-icon" width="28" height="28">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <load src="/partials/components/nav.html" />
    <load src="/partials/components/socials.html" />
  </div>
</div>
