    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about" aria-label="About section" class="nav-item-link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a href="#yachts" aria-label="Yachts section" class="nav-item-link"
            >Yachts</a
          >
        </li>
        <li class="nav-item">
          <a href="#reviews" aria-label="Review section" class="nav-item-link"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>