<ul class="social-media">
  <li class="social-media-item">
    <a
      href="https://www.instagram.com/goitclub/"
      class="social-media-link"
      target="_blank"
      rel="noopener noreferrer"
      title="Instagram"
      aria-label="Instagram"
    >
      <svg class="social-media-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-media-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      class="social-media-link"
      target="_blank"
      rel="noopener noreferrer"
      title="YouTube"
      aria-label="YouTube"
    >
      <svg class="social-media-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
  <li class="social-media-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="social-media-link"
      target="_blank"
      rel="noopener noreferrer"
      title="Facebook"
      aria-label="Facebook"
    >
      <svg class="social-media-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
