.btn-link {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 141px;
  height: 46px;
  padding: 14px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: inherit;
  background-color: var(--primary-green);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-wrap: nowrap;
  transition: color var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.btn-link:hover,
.btn-link:focus {
  color: var(--primary-green);
  background-color: var(--primary-white);
}

@media screen and (min-width: 768px) {
  .btn-link {
    padding: 16px 40px;
    min-width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.yacht-btn-link {
  border: 1px solid var(--border-color);
  background-color: transparent;
  transition: color var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.yacht-btn-link:hover,
.yacht-btn-link:focus {
  color: var(--primary-green);
  background-color: var(--primary-white);
  border-color: transparent;
}

.btn-submit {
  margin: 0;
  padding: 14px 44px;
  min-width: 122px;
}

@media screen and (min-width: 768px) {
  .btn-submit {
    padding: 18px 75px;
    min-width: 194px;
    height: 56px;
  }
}
