.nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-item {
  background-color: var(--header-menu-link);
  border-radius: 8px;
  transition: background-color var(--time) var(--cubic);
}

.nav-item:first-child {
  background-color: var(--primary-green);
}

.nav-item:focus,
.nav-item:active,
.nav-item:hover {
  background-color: var(--primary-green);
}

.nav-item-link {
  display: block;
  min-width: 91px;
  padding: 15px 0;
  border: none;
  height: 40px;
  color: currentColor;
  text-align: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 4px;
  }
}
