.social-media {
  display: flex;
  gap: 8px;
}

.social-media-icon {
  fill: #1b414b;
  transition: fill var(--time) var(--cubic);
}

.social-media-icon:hover,
.social-media-icon:focus {
  fill: #062730;
}

.mobile-menu .social-media-icon,
.footer-container .social-media-icon {
  fill: #fbfbfb;
}

.mobile-menu .social-media-icon:hover,
.footer-container .social-media-icon:hover,
.mobile-menu .social-media-icon:focus,
.footer-container .social-media-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}
