.advantages-table{
    background-color: #1B414B;
    display: flex;
    flex-wrap:wrap;
    color:#FBFBFB;
    border-radius: 24px;
    padding: 80px 0;
    gap: 40px;
    margin-bottom: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.advantages-item{
    padding-left: 20px;
    
    width: 292px;
}
.advantages-table-title{
    font-size: 28px;
    margin: 0;
    padding-bottom: 18px;
  
}
.advantages-paragraph{
    font-weight: 400;
    font-size: 12px;
    padding-top: 18px;
    border-top: 2px solid rgb(251, 251, 251, 0.1);
    margin: 0;
}
.image-advantages{
max-width: 335px;
    border-radius: 24px;
    width: 100%;
   
    align-items: center;
}


@media screen and (min-width:768px) {
    .advantages-table{
      gap:44px 32px;
      padding: 90px 0;

      width: 704px;
      margin-bottom: 32px;
    }
   .advantages-item {
       padding-left: 32px;

        width: calc((100%-32px)/2);
   }
.advantages-table-title {
    font-size: 32px;
   

}

}

@media screen and (min-width:1280px) {
    
    .advantages-table {
           gap: 44px;
         
            
            max-width: 716px;
           
      
        }
        .advantages .container{
            display: flex;
            gap: 32px;
        }
                .advantages-item {
                    padding-left: 50px;
                width: calc((100%-44px)/2);
                   
                }


}
@media screen and (min-width:1440px) {

    .advantages-table {
        width: 768px;
        gap: 44px 32px;
    }
         .advantages-item {
            
             width: calc((100%-32px)/2);
         }
}