.footer {
    padding: 0 10px;
}

.footer-container {
    border-radius: 24px 24px 0 0;
    background-color: #1b414b;
    padding: 40px 30px 20px ;
    
}

.logo-nav {
    display: flex;
    gap:37px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    row-gap: none;
    justify-content: center;

}

/* .logo-footer {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    margin-right: 37px;
    text-decoration: none;
} */
.footer-nav {
    
}


.nav-footer-list {
    display: flex;
   
    max-width: 206px;
    max-height: 40px;
    gap: 4px;
}

.nav-footer-navigation {
    border-radius: 8px;
    width: 66px;
    height: 40px;
    background-color: rgba(251, 251, 251, 0.3);
    text-align: center;
    align-content: center;
}
.nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    color: #fbfbfb;
    text-decoration: none;
}

.foot-social {
    display: block;
    padding: 0;

}

.socia-list-footer {
    display: flex;
    gap: 8px;
    
    justify-content: center;
}

.socia-footer {}

.footer-text {
   
    font-size: 18px;
    line-height: 1;
    text-align: center;
    margin-bottom: 82px;
    max-width: 279px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-privacy {
    display: flex;
 
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.title-footer-privacy {
   
    font-size: 12px;
   
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
    

}

.foot-pol {
    
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    color: rgba(251, 251, 251, 0.4);
}
@media screen and (min-width:375px) {
    .logo-nav {

        gap: 37px;
        row-gap: 80px;
        /* margin-bottom: 0; */
    }
}
