.header {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  right: 20px;
}

.header-container {
  background-color: var(--primary-white);
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 335px;
  height: 42px;
  padding: 7px 20px;
  border-radius: 8px;
  border: 1px solid var(--primary-white);
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 4px 28px;
    max-width: 704px;
    height: 48px;
    justify-content: space-between;
  }

  .nav,
  .media-container {
    display: block;
  }

  .nav {
    margin-left: 113px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 4px 30px;
    max-width: 1080px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1240px;
  }
}
