.hero-container {
  padding: 260px 20px 302px;
  background-image: linear-gradient(rgba(17, 19, 31, 0.39), rgba(17, 19, 31, 0)),
    url(/img/hero/hero-background-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient
        (rgba(17, 19, 31, 0.39), rgba(17, 19, 31, 0)),
      url(/img/hero/hero-background-mob-2x.jpg);
  }
}

.hero-title {
  font: 500 32px / 1 'Inter', sans-serif;
  text-align: center;
  color: var(--primary-white);
  max-width: 335px;
  margin: 0 auto 24px;
}

.hero-text {
  font: 300 12px / 1.16667 'Inter', sans-serif;
  text-align: center;
  color: var(--color-text-hero);
  max-width: 335px;
  margin: 0 auto 38px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 280px 32px 282px;
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.39),
        rgba(17, 19, 31, 0)
      ),
      url(/img/hero/hero-background-tablet.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 19, 31, 0.39),
          rgba(17, 19, 31, 0)
        ),
        url(/img/hero/hero-background-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-size: 70px;
    letter-spacing: -0.02em;
    line-height: 1;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto 48px;
    max-width: 597px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 235px 140px 215px;
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.39),
        rgba(17, 19, 31, 0)
      ),
      url(/img/hero/hero-background-1280.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 19, 31, 0.39),
          rgba(17, 19, 31, 0)
        ),
        url(/img/hero/hero-background-1280-2x.jpg);
    }
  }

  .hero-title {
    font-size: 80px;
    max-width: 1001px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.39),
        rgba(17, 19, 31, 0)
      ),
      url(/img/hero/hero-background-1440.jpg);
    padding-left: 220px;
    padding-right: 220px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 19, 31, 0.39),
          rgba(17, 19, 31, 0)
        ),
        url(/img/hero/hero-background-1440-2x.jpg);
    }
  }
}
