.reviews {
  padding-bottom: 80px;
}

.reviews-title {
  max-width: 335px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  margin-bottom: 25px;
}

.reviews-text {
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 40px;
}

.swiper-slide {
  max-width: 336px;
  min-height: 282px;
  border-radius: 24px;
  background-color: var(--primary-white);
  padding: 32px 16px;
  text-align: center;
  overflow-y: auto;
  cursor: pointer;
}

.card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-thumb {
  text-align: center;
}

.swiper-pagination-bullet {
  color: var(--primary-white);
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background: var(--primary-white);
  width: 28px;
  height: 13px;
  border-radius: 13px;
}

.swiper-wrapper-slide {
  margin-top: 50px;
}

.reviews-image {
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 50%;
}

.reviews-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.1;
  color: var(--primary-black);
}

.reviews-item-text {
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .reviews-title {
    max-width: 704px;
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 25px;
    letter-spacing: -0.02em;
  }

  .reviews-text {
    max-width: 571px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 1.29;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }

  .swiper-slide {
    max-width: 376px;
    padding: 32px 28px;
  }

  .reviews-item-text {
    max-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-container {
    padding: 0 100px;
  }

  .swiper-slide {
    max-width: 392px;
    padding: 32px 36px;
  }
}
