/* ===========MOBILE STYLES============ */

.yachts {
    padding-bottom: 80px;
}

.title-our-yachts {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin: 0 auto 40px;
}

.second-yacht-card,
.third-yacht-card {
    display: none;
}

.item-yachts-image {
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 24px;
}

.list-yachts {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto 40px;
}

.item-yachts {
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 16px 16px 32px;
}

.table-wrapper {
    padding: 0 16px;
}

.table-yachts-desc {
    width: 100%;
    border-collapse: collapse;
}

.table-yachts-title {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(4, 3, 6, 0.10);
}

.table-yachts-first-row {
    padding-top: 16px;
}

.table-yachts-first-column-name {
    color: #1b414b;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
   
}

.table-yachts-second-column-lable {
    color: rgba(4, 3, 6, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;

}

.table-yachts-first-column {
    color: rgba(4, 3, 6, 0.4);
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 400;
  
    
}

.table-yachts-second-column {
    width: 94px;
    font-weight: 400;
    color: #040306;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    white-space: nowrap;
    padding-bottom: 6px;
    
}

.table-row-yachts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* =========TABLET STYLES=========== */

@media screen and (min-width: 768px){
.yachts{
    padding-bottom: 150px;
 }
 
.title-our-yachts {
    margin: 0 auto 72px;
    font-size: 48px; 
 }
.list-yachts{
    margin-bottom: 50px;
 }

.second-yacht-card {
    display: block;
   }

.item-yachts {
    width: calc((100% - 32px) / 2);
  }

.table-yachts-first-column-name {
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #1b414b;
    padding-right: 10px;
}

.second-yacht-card .table-yachts-first-column-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-yachts-second-column-lable {
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(4, 3, 6, 0.4);
}

}

