<!-- Advantages -->
<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ol class="advantages-table">
      <li class="advantages-item">
        <h3 class="advantages-table-title">01</h3>
        <p class="advantages-paragraph">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-table-title">02</h3>
        <p class="advantages-paragraph">
          Fishing: try to catch your own dinner
        </p>
      </li>

      <li class="advantages-item">
        <h3 class="advantages-table-title">03</h3>
        <p class="advantages-paragraph">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-table-title">04</h3>
        <p class="advantages-paragraph">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/advantages/advantage-desk2.jpg    1x,
            /img/advantages/advantage-desk2-2x.jpg
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/advantages/advantage-desk1.jpg 1x,
            /img/advantage-desk1-2x.jpg
          "
          type="image/jpg"
        />

        <source
          srcset="
            /img/advantages/advantage-tab.jpg 1x,
            /img/advantage-tab2x.jpg
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/advantages/advantage-mob.jpg   1x,
            /img/advantages/advantage-tab2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpg"
        />

        <img
          class="image-advantages"
          src="/img/advantages/advantage-mob.jpg"
          alt="beautiful-yacht"
          width="335"
          height="424"
        />
      </picture>
    </div>
  </div>
</section>
