<footer class="footer">
  <div class="container footer-container">
    <div class="logo-nav">
      <load src="./components/logo.html" class-modifier="footer-logo" />
      <nav class="footer-nav">
        <ul class="nav-footer-list">
          <li class="nav-footer-navigation">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-footer-navigation">
            <a class="nav-link" href="#yachts">YACHTS</a>
          </li>
          <li class="nav-footer-navigation">
            <a class="nav-link" href="#reviews">REVIEWS</a>
          </li>
        </ul>
      </nav>
      <load src="./components/socials.html" />
    </div>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-privacy">
      <p class="title-footer-privacy">2023. Yacht Adventures</p>
      <a href="" class="foot-pol">Privacy Police</a>
    </div>
  </div>
</footer>
