<header class="header">
  <div class="container header-container">
    <div>
      <load src="./components/logo.html" />
      <load src="./components/logo.html" />
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about" aria-label="About section" class="nav-item-link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a href="#yachts" aria-label="Yachts section" class="nav-item-link"
            >Yachts</a
          >
        </li>
        <li class="nav-item">
          <a href="#reviews" aria-label="Review section" class="nav-item-link"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <div class="media-container">
      <load src="./components/socials.html" />
    </div>
    <button
      type="button"
      class="menu-open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="container menu-wrapper">
      <div class="menu-top-container">
        <load src="./components/logo.html" />
        <button type="button" class="close-menu-btn js-close-menu">
          <svg class="close-icon" width="28" height="28">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" aria-label="About section" class="nav-item-link"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a href="#yachts" aria-label="Yachts section" class="nav-item-link"
              >Yachts</a
            >
          </li>
          <li class="nav-item">
            <a href="#reviews" aria-label="Review section" class="nav-item-link"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
      <load src="./components/socials.html" />
    </div>
  </div>
</header>
