<header class="header">
  <!-- <div class="container">header</div> -->

  <div class="container header-container">
    <div><a class="logo header-logo" href="./index.html">yachtjet</a></div>
    <nav class="header-nav">
     
     <div class="header-nav-container">
      <ul class="logo-list">
        <li>
          <div class="nav-link-container">
            <a class="nav-link" href="./index.html">About</a>
          </div>
        </li>
        <li>
          <div class="nav-link-container">
            <a class="nav-link" href="">Yachts</a>
          </div>
        </li>
        <li>
          <div class="nav-link-container">
            <a class="nav-link" href="">Reviews</a>
          </div>
        </li>
      </ul>
     </div>
     
    </nav>
  </div>  
<div class="header-soc-icons">
  <ul class="header-soc-icons">
    <li class="header-soc-icons-box">
      <a class="header-soc-icon-link" href="">
        <svg class="header-icon-fill" width="20" height="20">
          <use href="../img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-icons-box">
      <a class="header-soc-icon-link" href="">
        <svg class="header-icon-fill" width="20" height="20">
          <use href="../img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-icons-box">
      <a class="header-soc-icon-link" href="">
        <svg class="header-icon-fill" width="20" height="20">
          <use href="../img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    </ul>
     
    </div>
    <button class="burger-btn" type="button">
      <svg class="burger-item" width="28" height="28">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
    </button>


    <!-- mobile menu -->
      <div class="container mobile-menu-container">
    <div class="mobile-menu is-open">
      <div class="mobile-head-container">
        <div><a class="logo header-logo" href="./index.html">yachtjet</a></div>
        <button class="mobile-menu-close"><svg class="icon-close-x icon-fill-cl" width="16" height="16">
            <use href="../img/icons.svg#icon-close"></use>
          </svg></button>
      </div>

      <div class="mobile-nav-container">
        <ul class="mobile-logo-list">
          <li>
            <div class="menu-nav-link-container">
              <a class="nav-link" href="./index.html">About</a>
            </div>
          </li>
          <li>
            <div class="menu-nav-link-container">
              <a class="nav-link" href="">Yachts</a>
            </div>
          </li>
          <li>
            <div class="menu-nav-link-container">
              <a class="nav-link" href="">Reviews</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="mobile-soc-icons-container">
        <ul class="mobile-soc-icons">
          <li class="mobile-soc-icons-box">
            <a class="mobile-soc-icon-link" href="">
              <svg class="mobile-icon-fill" width="20" height="20">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-soc-icons-box">
            <a class="mobile-soc-icon-link" href="">
              <svg class="mobile-icon-fill" width="20" height="20">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-soc-icons-box">
            <a class="mobile-soc-icon-link" href="">
              <svg class="mobile-icon-fill" width="20" height="20">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      
      </div>
      </div>
</div>

</header>

      


