<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="card-review">
            <img
              srcset="
                /img/reviews/image1-1x.jpg 1x,
                /img/reviews/image1-2x.jpg 2x
              "
              src="/img/reviews/image1-1x.jpg"
              alt="photo john"
              width="56"
              height="56"
              class="reviews-image"
            />
            <div class="reviews-thumb">
              <h3 class="reviews-subtitle">John Wax</h3>
              <p class="reviews-item-text">
                I rented the Lagoon 620 with my family for a week-long vacation
                and it was the best decision ever. The yacht was spacious,
                comfortable, and luxurious, and the crew took care of
                everything.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-review">
            <img
              srcset="
                /img/reviews/image2-1x.jpg 1x,
                /img/reviews/image2-2x.jpg 2x
              "
              src="/img/reviews/image2-1x.jpg"
              alt="photo victoria"
              width="56"
              height="56"
              class="reviews-image"
            />
            <div class="reviews-thumb">
              <h3 class="reviews-subtitle">Victoria Romashenko</h3>
              <p class="reviews-item-text">
                The Sunseeker Manhattan 66 was the perfect choice for our
                romantic getaway. The yacht was beautifully designed, with all
                the amenities we needed, and the crew was attentive and
                friendly.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-review">
            <img
              srcset="
                /img/reviews/reviews-5-1x.jpg 1x,
                /img/reviews/reviews-5-2x.jpg 2x
              "
              src="/img/reviews/reviews-5-1x.jpg"
              alt="photo maria"
              width="56"
              height="56"
              class="reviews-image"
            />

            <div class="reviews-thumb">
              <h3 class="reviews-subtitle">Maria Gomez</h3>
              <p class="reviews-item-text">
                We were completely cared for, comfortable and well fed.
                Honestly, we could not have asked for anything more. My family
                is so appreciative of the entire experience.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-review">
            <img
              srcset="
                /img/reviews/reviews-4-1x.jpg 1x,
                /img/reviews/reviews-4-2x.jpg 2x
              "
              src="/img/reviews/reviews-4-1x.jpg"
              alt="photo Camila"
              width="56"
              height="56"
              class="reviews-image"
            />
            <div class="reviews-thumb">
              <h3 class="reviews-subtitle">Camila Rodan</h3>
              <p class="reviews-item-text">
                I rented the Lagoon 620. The yacht was in excellent condition
                and was equipped even better than described on the website.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-review">
            <img
              srcset="
                /img/reviews/image3-1x.jpg 1x,
                /img/reviews/image3-2x.jpg 2x
              "
              src="/img/reviews/image3-1x.jpg"
              alt="photo ihor"
              width="56"
              height="56"
              class="reviews-image"
            />
            <div class="reviews-thumb">
              <h3 class="reviews-subtitle">Ihor Trachuk</h3>
              <p class="reviews-item-text">
                The Azimut 80 was the most luxurious yacht I've ever been on.
                The cabins were spacious and elegant, and the outdoor areas were
                perfect for relaxing and entertaining. Worth every penny!
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-wrapper-slide"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
