<section class="yachts" id="yachts">
  <div class="container">
    <h2 class="title-our-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="list-yachts">
      <li class="item-yachts card">
        <picture>
          <source
            srcset="
              /img/yachts/desktop2/yaht_desk2.jpg    1x,
              /img/yachts/desktop2/yaht_desk2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              /img/yachts/desktop1/yaht_desk1.jpg    1x,
              /img/yachts/desktop1/yaht_desk1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              /img/yachts/yaht_tab1.jpg    1x,
              /img/yachts/yaht_tab1-2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="/img/yachts/yaht_mob.jpg 1x, /img/yachts/yaht_mob2x.jpg 2x"
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="item-yachts-image"
            src="/img/yachts/yaht_mob.jpg"
            alt="Arrow"
          />
        </picture>

        <div class="table-wrapper">
          <div class="table-row-yachts table-yachts-title">
            <h3 class="table-yachts-first-column-name">Arrow</h3>
            <p class="table-yachts-second-column-lable">Luxury yahts</p>
          </div>
          <table class="table-yachts-desc">
            <tbody>
              <tr class="table-row-yachts table-yachts-first-row">
                <th class="table-yachts-first-column">Lenght</th>
                <th class="table-yachts-second-column">48m(155ft)</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Builder</th>
                <th class="table-yachts-second-column">Admiral</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Built</th>
                <th class="table-yachts-second-column">2021</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Guests</th>
                <th class="table-yachts-second-column">11 in 5 cabins</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Price</th>
                <th class="table-yachts-second-column">€33,500,000</th>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="item-yachts second-yacht-card card">
        <picture>
          <source
            srcset="
              /img/yachts/desktop2/yaht_desk2-2.jpg    1x,
              /img/yachts/desktop2/yaht_desk2-2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              /img/yachts/desktop1/yaht_desk1-2.jpg    1x,
              /img/yachts/desktop1/yaht_desk1-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              /img/yachts/yaht_tab2-2x.jpg 2x,
              /img/yachts/yaht_tab2.jpg    1x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="item-yachts-image"
            src="/img/yachts/yaht_tab1.jpg"
            alt="BENETTI OASIS 40M BO122"
          />
        </picture>
        <div class="table-wrapper">
          <div class="table-row-yachts table-yachts-title">
            <h3 class="table-yachts-first-column-name">
              BENETTI OASIS 40M BO122
            </h3>
            <p class="table-yachts-second-column-lable">Luxury yahts</p>
          </div>
          <table class="table-yachts-desc">
            <tbody>
              <tr class="table-row-yachts table-yachts-first-row">
                <th class="table-yachts-first-column">Lenght</th>
                <th class="table-yachts-second-column">41m (133ft)</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">SHIPYARD</th>
                <th class="table-yachts-second-column">Benetti</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Built</th>
                <th class="table-yachts-second-column">2025</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Guests</th>
                <th class="table-yachts-second-column">10 in 5 cabins</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Price</th>
                <th class="table-yachts-second-column">€23,210,000</th>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="item-yachts third-yacht-card card">
        <picture>
          <source
            srcset="
              /img/yachts/desktop2/yaht_desk2-3.jpg    1x,
              /img/yachts/desktop2/yaht_desk2-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              /img/yachts/desktop1/yaht_desk1-3.jpg    1x,
              /img/yachts/desktop1/yaht_desk1-3-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            class="item-yachts-image"
            src="/img/yachts/desktop1/yaht_desk1-3.jpg"
            alt="BELLE ANNA"
          />
        </picture>

        <div class="table-wrapper">
          <div class="table-row-yachts table-yachts-title">
            <h3 class="table-yachts-first-column-name">BELLE ANNA</h3>
            <p class="table-yachts-second-column-lable">Luxury yahts</p>
          </div>
          <table class="table-yachts-desc">
            <tbody>
              <tr class="table-row-yachts table-yachts-first-row">
                <th class="table-yachts-first-column">Lenght</th>
                <th class="table-yachts-second-column">50m(155ft)</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">SHIPYARD</th>
                <th class="table-yachts-second-column">ISA</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Built</th>
                <th class="table-yachts-second-column">2012</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Guests</th>
                <th class="table-yachts-second-column">12 in 6 cabins</th>
              </tr>
              <tr class="table-row-yachts">
                <th class="table-yachts-first-column">Price</th>
                <th class="table-yachts-second-column">€21,000,000</th>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <load
      src="./components/button.html"
      anchor="#rent"
      text="Yacht rental"
      class-modifier="yacht-btn-link"
    />
  </div>
</section>
