/* #region Utils styles */
@import url('./utils/variables.css');
@import url('./utils/top-top.css');
@import url('./utils/animations.css');
/* #endregion */

/* #region Common styles */
@import url('./base/reset.css');
@import url('./base/global.css');
@import url('./base/container.css');
/* #endregion */

/* #region Base styles */
@import url('./base/global.css');
@import url('./base/reset.css');
@import url('./base/container.css');
/* #endregion */

/* #region Components styles */
@import url('./components/logo.css');
@import url('./components/button.css');
@import url('./components/socials.css');
@import url('./components/nav.css');
@import url('./components/menu.css');

/* #endregion */

/* #region Partials styles */
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/about.css');
@import url('./partials/yachts.css');
@import url('./partials/advantages.css');
@import url('./partials/rent.css');
@import url('./partials/reviews.css');
@import url('./partials/footer.css');
/* #endregion */
